# Database
DATABASE_URL="mysql://username:password@localhost:3306/lottery_sales_db"

# JWT Secret
JWT_SECRET="your-super-secret-jwt-key-here"

# Server Configuration
PORT=5000
NODE_ENV="development"


# CORS Configuration
CLIENT_URL="http://localhost:3000"

